.zajecia{
    height:100%;
    position:absolute;
    z-index: 10;
    box-sizing: border-box;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
/*box-sizing: border-box;*/
}

.temp {
    transition: 0.1s;
    box-sizing: border-box;
    z-index:1000;
    position: absolute;
    border: 2px solid black;
width: 250px;
}
#textarea{
    user-select: none;
    margin: 3px;
   width:calc(100% - 9px);
    border: none;
    resize: none;
 overflow: hidden;
}
.temp, #textarea{
    background-color: rgb(253, 255, 133);
}
#textarea:focus{
    outline: none;
}
#link,#link:visited, #link:focus{
    display:block;
    text-align:center;
    outline: none;
    text-decoration: none;
    font-size: 16px;
    color: #000;
}