#container{
   height:85vh;
    width:90vw;
    margin: auto;
    margin-top: 0;
    padding: 0;
    border: 1px solid black;
 box-sizing: border-box;
}
#podzial{
 display:block;
 text-align:center;
 text-decoration: none;
 outline: none;
 font-size: 20px;
 color: #101010;
 margin: 10px;
}

#podzial:visited, #podzial:focus{
 outline: none;
 text-underline: none;
 text-decoration: none
}